{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}


<h2>Active Listings</h2>

    {% for listing in listings %}
    <a href="{% url 'listing' listing.id %}"><h3>{{listing.title}}</h3></a>
    <img src="{{listing.image_url}}" alt="{{ listing.title}}">
    <a href="{% url 'category' listing.category%}">{{listing.category}}</a>
    <p>{{listing.description}}</p>
    <p>{{listing.listing_bid.last.bid}}</p>

    {% empty %}
        <p>No active listings.</p>
    {% endfor %}

{% endblock %}



