{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2>Watched listings</h2>

    {% for listing in listings %}
    {{listing.active}}
    <a href="{% url 'listing' listing.id %}"><h3>{{listing.title}}</h3></a>
    
        {% if listing.image %}
            <img src="{{listing.image_url}}" alt="{{ listing.title}}">
        {% else %}
            <img src="{{ MEDIA_URL }}uploads/default.jpg" alt="No image">
        {% endif %}


    <p>{{listing.category}}</p>
    <p>{{listing.description}}</p>
    <p>{{listing.listing_bid.last.bid}}</p>
     <a href="{% url 'unwatch' listing.id  %}" role="button" class="btn btn-outline-secondary btn-lg">Remove from Watchlist</a>

    {% empty %}
        <p>No active listings.</p>
    {% endfor %}

{% endblock %}