{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2>Watched listings</h2>

    {% for listing in listings %}
    
    <a href="{% url 'listing' listing.id %}"><h3>{{listing.title}}</h3></a>
    
    {% if listing.active %}
        <p>Active</p>
    {% else %}
        {% if listing.winner.id == request.user.id  %}
            <p>Congratulations! You have won this item.</p>
        {% else %}
        <p>Closed</p>
        {% endif %}
    {% endif %}

    <img src="{{listing.image_url}}" alt="{{ listing.title}}">

    <p>{{listing.category}}</p>
    <p>{{listing.description}}</p>
    <p>{{listing.listing_bid.last.bid}}</p>
     <a href="{% url 'unwatch' listing.id  %}" role="button" class="btn btn-outline-secondary btn-lg">Remove from Watchlist</a>

    {% empty %}
        <p>No active listings.</p>
    {% endfor %}

{% endblock %}