{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit  {{ title }}</h1>

    <form action="{% url 'encyclopedia:edit_title' title %}" method="post">
        {% csrf_token %}
        <textarea id="content" name="content" rows="2" cols="1">{{ content }}</textarea>
        <br>
        <input type="submit" value="Save">
    </form>
    <br>
    <a href="{% url 'encyclopedia:title' title %}">Cancel</a>        
    </form>

{% endblock %}