{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="listing-card">
            <h3>{{listing.title}}</h3>
            <p>{{listing.price}}</p>
            <a href="{% url 'listing' listing.id %}">Details</a>

        {% if user.is_authenticated %}
        <a href="{% url 'edit' listing.id %}">Edit</a>
        {% else %}
        {% endif %}
        </div>
    {% empty %}
        <p>No active listings.</p>
    {% endfor %}
{% endblock %}